@inherits LayoutComponentBase

<div class="page">
    <div class="toasts-column">
        <BlazoredToasts />
    </div>

    <NavMenu/>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider IsDarkMode="isDarkMode" Theme="currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
